@font-face {
    font-family: retroGaming;
    src: url(RetroGaming.ttf);
}

body {
	background-image: url("nebula.jpg") ;
	background-color: black ;
	background-repeat: no-repeat;
}

.menuCenter {
	margin: auto;
	width: fit-content;
	height: fit-content;
}

.coolButton {
	padding: 15px 40px;
	font-size: 18px;
	color: white;
	background-color: black;
	border: none;
	margin: 10px;
	cursor: pointer;
	box-shadow: 5px 5px 10px #553399;
}

.coolButton:hover {
	background-color: #2e528c ;
}

.spinner {
	width:  40px; 
	height: 40px;
	margin: auto;
	display: block;
}

.hamburguer {
	border: 1px solid #666666;
	border-radius: 6px ;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 5px 10px 7px 10px;
	font-weight: bold ;
	cursor: pointer;
	z-index: 12;
	position: fixed;
	left: 10px;
	top: 10px;
}

.ui-widget {

}

.menuPlaceholder {
	font-family: retroGaming;
	font-size: 24px;
	padding-left: 70px;
	min-height: 43px;
	background: none;
	text-shadow: 4px 2px #444444;
}

.menuSelection:hover {
	text-shadow: 4px 2px #4444AA;
}

.menuSelection {
	font-family: retroGaming;
	font-size: 24px;
	padding-left: 70px;
	min-height: 43px;
	background: none;
	cursor: pointer;
	text-shadow: 4px 2px #444444;
}

.menuSelection:hover {
	background-image: url("hand.png") ;
	background-repeat: no-repeat;
	text-shadow: 4px 2px #4444AA;
}

.customBackground {
	position: absolute;
	left: 0px ;
	top: 0px ;
}

.dialog {
	z-index: 12;
}

.sliderPlaceholder {
	margin-top: 5px;
}

.mark {
	color: dodgerblue;
}

.imagePreview {
	max-width: 150px;
	max-height: 150px;
	border: 3px;
	border-style: dashed
}